/*FONT FACE*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*CUSTOM PROPS*/
:root {
  --body-bg: #f1f4ff;
  --green: #4dc490;
  --purple: #655af2;
  --red: #f03535;
  --text-color: #000000;
}

/*GLOBAL*/
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*CONTAINER*/
.container {
  width: 100%;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*MAIN CONTENT*/
.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* GENERAL */
.general {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/*GENERAL TOP*/
.general__top {
  width: 100%;
  max-width: 570px;
  background-image: url(../img/Rectangle\ 6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.general__top-search {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 5px;
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px #fff solid;
  border-radius: 10px;
}
.general__top-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-top: 60px;
  margin-left: 60px;
  color: #ffffff;
}
.general__top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
  margin-left: 60px;
  color: #ffffff;
}

.general__top-advertising {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  padding: 28px 140px;
  margin-top: 200px;
  text-align: center;
  color: #ffffff;
  background-color: var(--green);
  border-radius: 0px 0px 20px 20px;
}

/*GENERAL BOTTOM*/
.general__bottom {
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
  background-color: #ffffff;
}
.general__bottom-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 60px;
  color: var(--text-color);
}
.general__bottom-list {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}
.general__bottom-item {
  display: block;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  line-height: 19px;
  width: 450px;
  color: #555555;
  border: none;
  border-bottom: 1px solid #555555;
}

.general__bottom-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 145px;
  margin-top: 25px;
  color: #ffffff;
  background-color: #655af2;
  border-radius: 15px;
  border: transparent;
}

.general__bottom-button-information {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #555555;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.information {
  color: #f03535;
  text-decoration: underline;
}
